$theme-color: #8fd3f5;
$theme-color-dark: #5aa1d8;
$theme-color-dark-shadow: #4283b4;
$theme-color-dark-background: rgba(90, 161, 216, 0.8);
$theme-color-light: #f4fbff;
$theme-color-rgba:  rgba(142, 211, 245, 0.6);

$word-light-gray: #bcc8d4;
$word-gray:  #8899a6;
$word-black: #243750;
$word-gray-background: rgba(214, 231, 235, 0.8);
$word-gray-disabled: rgba(211, 211, 211, 0.5);

$calendar-gray: #ddebf1;
$calendar-saturday: #a3d9ed;
$calendar-sunday: #f18f65;
$calendar-border:  #c4d9e2;

$search-background:  #f5fafc;
$search-border: #e3edf1;

$contact_btn:  #313E7A;
$page-top_btn:  rgba(49, 62, 122,0.8);
$footer:  #e2eef3;
