@import url('https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap.min.css');

/* ----ここからreset---- */
* {
  box-sizing: border-box;
}

html {
  font: 100%/1.5 'Arial', "Meiryo", 'Hiragino Sans', sans-serif;
  line-height: 1.7;
  letter-spacing: 1px;
  position: relative;
  min-height: 100%;
}

ul, li {
  list-style-type: none;
  padding: 0;
  margin: 0;
}

a {
  text-decoration: none;
  color: #2d3133;
  font-size: 14px;
}

a:hover {
  text-decoration: none;
}

h1, h2, h3, h4, h5, h6, p {
  margin: 0;
}

input {
  background-color: transparent;
  outline-width: 0;
}

form input[type="submit"] {
  border: none;
  cursor: pointer;
}

body {
  background-color: #f4f7f8;
  color: #243750;
  margin-bottom: 200px;
}

:focus {
  outline: none;
}
/* ----ここまでreset---- */

/* ----ここからヘッダー---- */
.navbar {
  margin: 2rem 0 2.5rem 0;
}

.my-navbar {
  align-items: center;
  background: #8fd3f5;
  display: flex;
  height: 64px;
  justify-content: space-between;
  padding: 0 2%;
  margin-bottom: 3rem;
}

.my-navbar-brand {
  font-size: 22px;
}

.my-navbar-brand,
.my-navbar-item {
  color: #fff;
}

.my-navbar-brand:hover,
a.my-navbar-item:hover {
  color: #5aa1d8;
}

.table td:nth-child(2),
.table td:nth-child(3),
.table td:nth-child(4) {
  white-space: nowrap;
  width: 1px;
}

.form-control[disabled],
.form-control[readonly] {
  background-color: #fff;
}
/* ----ここまでヘッダー---- */

/* ----ここからフッター---- */
.footer {
  position: absolute;
  bottom: 0;
  width: 100%;
  height: 160px;
  padding: 20px 0;
  background-color: #e2eef3;
  border-top: 2px solid #c4d9e2;
  color: #243750;
  margin-top: 40px;
}
.footer.row{
  display: block;
}
.footer h3 {
  font-weight: 600;
}
.footer a {
  color: #8899a6;
  display: block;
  margin-top: 10px;
}
.footer a:hover {
  color: #5aa1d8;
}
/* ----ここまでフッター---- */

/* -----タスク表示関連-----*/
/* タスク一覧などのコンテナ */
.main-container {
  float: none;
  margin: 0 auto;
  max-width: 600px;
}

/* タスク一覧などのコンテナ内のタブ */
.panel-default>.panel-heading {
  background-color: #fff;
  border-color: #c1ced7;
  box-shadow: 0 2px 6px #c1ced7;
  padding: 0;
}

.container-tabs.col-md-3 {
  padding: 16px 30px;
  color: #8899a6;
  text-align: center;
}
.nav.container-tabs>li>a:hover {
  color: #243750;
  border-bottom: 2px solid #eee;
}
li.active .container-tabs {
  border-bottom: 2px solid #8fd3f5;
  color: #243750;
}

/* タスク一覧などのコンテナ内 タグ表示部分 */
.tags-index-item.row {
  padding: 20px 30px;
  background-color: white;
  /* overflow: hidden; */
  box-shadow: 0 2px 6px #c1ced7;
  position: relative;
  min-height: 120px;
  margin: 0;
}

.tag-name {
  font-weight: 500;
  font-size: 26px;
}

.tag-count {
  float: right;
  font-size: 16px;
  font-weight: 300;
  text-align: right;
}
.tag-count a {
  font-size: 18px;
}

.to-create-tag-index {
  text-align: right;
  float: right;
  margin-top: 15px;
  font-size: 14px;
}
.to-create-tag-index a {
  color: #8899a6;
}
.to-create-tag-index a:hover {
  color: #243750;
}

/* ----新規作成・編集ページ---- */
.panel-default>.panel-heading.form-title{
  padding: 10px 30px;
  font-size: 24px;
  color: #8899a6;
  font-weight: 300;
  background-color: #ddebf1;
  box-shadow: none;
}

.form-items {
  padding: 0 15px;
  color: #2d3133;
  font-size: 16px;
  letter-spacing: 1.5px;
}

label.form-label {
  padding: 15px 0 0;
  font-weight: 400;
}

.form-items input, .form-items textarea {
  padding: 10px;
  border: 1.5px solid #c1ced7;
}

.form-items textarea {
  min-height: 110px;
  resize: none;
}

#datepicker {
  letter-spacing: 1.5px;
}

.form-tag-select {
  padding: 10px;
  border: 1px solid #c1ced7;
  letter-spacing: 1.5px;
  color: #2d3133;
}

.form-btn {
  background-color: #8fd3f5;
  color: white;
  cursor: pointer;
  font-weight: 400;
  border-radius: 2px;
  letter-spacing: 6px;
  font-size: 16px;
  line-height: 20px;
}

.form-btn:hover {
  background-color: #5aa1d8;
  color: white;
}
